<table>
  <thead>
    <th>Number</th>
    <th>Created</th>
    <th>Expire</th>
    <th>Amount</th>
  </thead>
  <tbody>
    <tr *ngFor="let policy of policies">
      <td>{{policy.policyNumber}}</td>
      <td>{{policy.creationDate}}</td>
      <td>{{policy.expireDate}}</td>
      <td>{{policy.policyAmount}}</td>
      <td>
        <button (click)="delete(policy.id)">Delete</button>
        <button (click)="create(policy)">Create</button>
        <button (click)="update(policy)">Update</button>


      </td>
    </tr>
  </tbody>
</table>
